*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline         : 1px solid slategrey;
}

body {
  margin  : 0 auto;
  overflow: hidden;
}

input {
  outline-style: none;
  border       : none;
}

span {
  font-weight: bold;
}

.texto-centralizado {
  text-align: center;
}

.texto-a-esquerda {
  text-align: left;
}

.texto-claro {
  color: rgb(245, 245, 245);
}

.texto-escuro {
  color: rgb(51, 51, 51);
}

.texto-negrito {
  font-weight: bold;
}

.fundo-escuro {
  background-color: rgba(51, 51, 51, 0.781);
}

.fundo-claro {
  background-color: rgb(251, 251, 251);
}

.flex-container-column {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.flex-container-row {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
}

.header,
.footer {
  background-color: rgb(0, 21, 41);
  width           : 100%;
  height          : 8vh;
  min-height      : 50px;
  cursor          : pointer;
}

.header>a>h1 {
  color     : antiquewhite;
  font-size : 30px;
  padding   : 0;
  margin    : 0;
  text-align: center;
}

.content,
.sider {
  height  : 90vh;
  overflow: auto;
}

.link-normal,
.link-destacado {
  border-radius: 5px;
}

.link-destacado {
  background-color: rgba(166, 182, 192, 0.26);
}


.title-form,
.title-listagem {
  font-size       : 25px;
  background-color: rgba(215, 234, 246, 0.993);
  color           : rgba(34, 34, 34, 0.596);
  font-weight     : bold;
  text-align      : right;
  margin          : 0;
  padding         : 1vh 3.5vw 1vh 0;
  border-radius   : 1;
  margin-bottom   : 2vh;
}

.container-form {
  background-color: rgb(88, 88, 88);
  padding         : 2vh 0 2vh 0;
  overflow        : auto;
  min-height      : 800px;
  max-height      : 800px;
  width           : 100%;
  margin          : 0 auto;
  overflow        : hidden;
}

.form {
  background-color: rgba(255, 255, 255, 0.055);
  box-shadow      : 0 0 8px white;
  width           : 80%;
  margin          : 0 auto;
  height          : 760px;
  padding         : 5%;
  border-radius   : 8px;
  overflow        : auto;
}

.label,
.input {
  cursor    : pointer;
  font-size : 20px;
  text-align: center;
  min-width : 30vw;
  width     : 25vw;
  max-width : 50vw;
}

.label {
  color           : rgba(0, 0, 0, 0.726);
  border-radius   : 5px 5px 0 0;
  background-color: rgba(215, 234, 246, 0.993);
}

.input {
  border-radius   : 0 0 5px 5px;
  outline-style   : none;
  margin-bottom   : 3vh;
  border          : none;
  color           : rgb(141, 141, 141);
  font-weight     : bold;
  border-top      : rgba(255, 255, 255, 0.233) solid 1px;
  background-color: rgba(61, 61, 61, 0.993);
}

.input::placeholder {
  color      : rgb(87, 87, 87);
  font-weight: normal;
}

.input:hover {
  background-color: rgba(215, 234, 246, 0.376);
  color           : rgb(70, 70, 70);
  box-shadow      : inset 0 0 5px black;
}

.input-search-section {
  width           : 95%;
  margin          : 0 auto;
  padding         : 2vh 0 2vh 0;
  background-color: rgba(166, 182, 192, 0.26);
  border-radius   : 35px 35px 3px 3px;
  border-top      : solid rgb(143, 143, 143) 1px;
}

.input-search-section>p {
  color       : rgba(0, 0, 0, 0.63);
  font-style  : italic;
  text-align  : left;
  padding-left: 10px;
  margin      : 0 auto;
  width       : 50%;
  max-width   : 500px;
}

.input-search {
  box-shadow      : inset 0 0 8px rgb(0, 0, 0);
  color           : rgb(41, 0, 78);
  border-radius   : 7px;
  background-color: white;
  font-size       : 22px;
  text-align      : left;
  padding-left    : 10px;
  width           : 50%;
  max-width       : 500px;
}

.conteiner-btns {
  justify-content: space-evenly;
  width          : 100%;
}

.btn-reset,
.btn-submit {
  cursor       : pointer;
  font-weight  : bold;
  border-radius: 7px;
  font-size    : 15px;
  border       : none;
  min-width    : 100px;
  width        : 20vw;
  max-width    : 30vw;
  height       : 50px;
}

.btn-reset {
  background-color: rgba(61, 61, 61, 0.993);
  border          : solid 1px rgba(251, 251, 251, 0.068);
  color           : rgba(255, 255, 255, 0.65);
}

.btn-submit {
  background-color: rgba(215, 234, 246, 0.993);
}

.cards-container {
  padding         : 2vh 0;
  overflow        : auto;
  min-height      : 600px;
  max-height      : 650px;
  width           : 95%;
  margin          : 0 auto;
  background-color: rgba(215, 234, 246, 0.993);
  border-radius   : 0 0 10px 10px;
  box-shadow      : black 0 0 10px inset;
  border-bottom   : solid rgb(143, 143, 143) 1px;
}

#card {
  width           : 50%;
  max-width       : 500px;
  background-color: rgba(0, 0, 0, 0.328);
  margin          : auto;
  margin-top      : 2vh;
  margin-bottom   : 2vh;
  border-radius   : 8px;
}

/* anta d */
.ant-card-head-title {
  color: rgb(59, 59, 59);
}

.ant-card-extra>a {
  color           : rgba(114, 171, 177, 0.945);
  background-color: white;
  padding         : 4px;
  border-radius   : 5px;
  font-weight     : bold;
}

.ant-card-extra>a:hover {
  background-color: rgba(0, 0, 0, 0);
  color           : aqua;
}

.content-card {
  box-shadow      : inset 0 0 5px rgb(0, 0, 0);
  border          : solid rgb(177, 177, 177) 1px;
  text-align      : left;
  box-sizing      : border-box;
  padding         : 5px;
  border-radius   : 5px;
  color           : rgb(73, 73, 73);
  background-color: rgba(248, 248, 248, 0.993);
}

.content-card>p {
  margin-top   : 2px;
  margin-bottom: 2px;
}

.content-card>p>span {
  color: rgb(0, 0, 0);
}

.home {
  height    : 100%;
  width     : 100%;
  background: rgba(85, 85, 85, 0.616) url('./Resources/fundoHome.jpeg') no-repeat center top / cover;
  position  : relative;
  color     : white;
}

.home::after {
  border-radius   : 15px;
  box-shadow      : rgb(0, 0, 0) 0 0 100px;
  /*borda interna*/
  /* box-shadow   : inset rgb(0, 0, 0) 0 0 100px; */
  content         : '';
  display         : block;
  width           : 95%;
  height          : 95%;
  position        : absolute;
  top             : 2.5%;
  left            : 2.5%;
  z-index         : 1;
  background      : rgba(141, 165, 185, 0.671);
}

.home>div {
  margin: 0 auto;
  height: 20%;
  width : 100%;
  color : aqua;
}