.button{
    display: inline-block;
    padding: 15px 25px;
    margin: 0;
    border: none;
    border-radius: 10px;
    color: white;
}

.button-primary{
    background-color: #0081ff;
}

.button-secondary{
    background-color: #28cc3e;
}

.button-wrapper-right{
    text-align: right;
}