
body{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 155px;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

a{
    color: #0081ff;
    text-decoration: none;
}

a:hover, .button-primary:hover{
    color: #28cc3e;
}

.button-secondary:hover{
    color: #0081ff;
}

.header + :not(.banner) {
    padding-top: 100px;
}

.text-center{
    text-align: center;
}

.hide{
    display: none;
}

@media ( max-width: 719px ){
    .hide_on_mobile{
        display: none;
    }
}

@media ( max-width: 719px ) and (max-width: 1023px){
    .hide_on_tablet{
        display: none;
    }
}

@media (max-width: 1024px){
    .hide_on_tablet{
        display: none;
    }
}
