.none{
  display: none;
}

body,
ul {
  margin: 0;
}

body{
  font-family: 'VT323', monospace;
  background: #ff000096;
}

ul {
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  height: 20vh;
  text-align: center;
  box-sizing: border-box;
  box-shadow:  0 2px 10px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.466);
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.header input{

  background: rgba(0, 255, 13, 0.302);
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.4);

  font-family: 'VT323', monospace;


  max-height: 80px;
  min-height: 50px;
  height: 5vh;


  max-width: 200px;
  min-width: 200px;
  width: 10vh;

  outline: none;
  flex-grow: 0;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
}


.header img{
  display: block;
  margin: auto;
  height: 5vh;
  min-height: 50px;
  box-sizing: border-box;
  padding: 0 1vw;
}

.header div{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.poke-img-container,
.description-container{
  font-family: 'VT323', monospace;
  border-radius: 8px;
  color: white;
  background-color: rgba(37, 37, 37, 0.377);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  width: 75%;
}

.poke-img-container > p,
.poke-img-container > ul p{
  font-size: 30px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.302);
}


.poke-img{
  min-height: 45%;
  min-width: 40%;

  max-height: 400px;
  max-width: 400px;
}

